<template name="Landing">
	<h2 class="tac">&iquest;Qui&eacute;nes somos?</h2>
	<div class="row special">
		<div class="four columns">
			<h3>Misi&oacute;n</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo tempora provident iure saepe, aperiam optio reprehenderit, totam ducimus dolores error commodi voluptate consequuntur dignissimos, magni repellendus unde nostrum fugiat dolorum.</p>
		</div>
		<div class="four columns">
			<h3>Visi&oacute;n</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo tempora provident iure saepe, aperiam optio reprehenderit, totam ducimus dolores error commodi voluptate consequuntur dignissimos, magni repellendus unde nostrum fugiat dolorum.</p>
		</div>
		<div class="four columns">
			<h3>Historia</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo tempora provident iure saepe, aperiam optio reprehenderit, totam ducimus dolores error commodi voluptate consequuntur dignissimos, magni repellendus unde nostrum fugiat dolorum.</p>
		</div>
	</div>
</template>
