.edit,
.delete,
.close {
	cursor: pointer;
}

.list-item {
	.value {

	}
	.description {
		font-style: italic;
		font-size: 80%;
	}
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #e53935;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	color: #388e3c;
}

.card {
	.btn-flat:hover {
	    background-color: rgba(67, 128, 1, 0.17);
	}
}