.card {
	.card-title {
		color: $card-title-color;
	}

	.edit,
	.close {
		cursor: pointer;
	}

	.close {
		color: $light-red;
		&:hover {
			color: $dark-red;
		}
	}

	.edit {
		color: $light-blue;
		&:hover {
			color: $dark-blue;
		}
	}

	.list-item {
		.value {

		}
		.description {
			font-style: italic;
			font-size: 80%;
			color: $description-color;
		}
	}

	.card-action a:not(.btn):not(.btn-large):not(.btn-floating):not(.disabled) {
		color: $red-d-1;
	}

	.card-action a:not(.btn):not(.btn-large):not(.btn-floating):not(.disabled):hover {
		color: $green-d-2;
	}

	.btn-flat:not(.disabled):hover {
	    background-color: rgba(67, 128, 1, 0.17);
	}
}