form {
	.radio-container {
		display: inline-block;
	}
	[type="radio"]:checked + label:after,
	[type="radio"].with-gap:checked + label:before,
	[type="radio"].with-gap:checked + label:after {
	  	border: 2px solid $accent-color; 
	}

	[type="radio"]:checked + label:after,
	[type="radio"].with-gap:checked + label:after {
	  background-color: $accent-color;
	}
}