form {
	.radio-container {
		display: inline-block;
	}
	[type="radio"]:checked + label:after,
	[type="radio"].with-gap:checked + label:before,
	[type="radio"].with-gap:checked + label:after {
	  	border: 2px solid $accent-color; 
	}

	[type="radio"]:checked + label:after,
	[type="radio"].with-gap:checked + label:after {
	  background-color: $accent-color;
	}

	.error-message {
		color: $red;
	}

	.input-field {
		margin-bottom: 1rem;
	}

	input:not([type]) + label:after, input[type=text] + label:after, input[type=password] + label:after, input[type=email] + label:after, input[type=url] + label:after, input[type=time] + label:after, input[type=date] + label:after, input[type=datetime] + label:after, input[type=datetime-local] + label:after, input[type=tel] + label:after, input[type=number] + label:after, input[type=search] + label:after, textarea.materialize-textarea + label:after {
		width: 200px;
	}
}