.title {
	font-weight: 300;
	color: $title-color;
}

.collection-title {
	font-weight: 500;
	color: $card-title-color;
}

.go {
	color: $light-red;
	&:hover {
		color: $dark-red;
	}
}

.btn-add,
.btn-submit {
	background: $accent-color;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-0 {
	margin: 0;
}