.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.title {
	font-weight: 300;
	color: $title-color;
}

.collection-title {
	font-weight: 500;
	color: $card-title-color;
}

.go {
	color: $light-red;
	&:hover {
		color: $dark-red;
	}
}

.disabled {
	cursor: pointer !important;
	&.material-icons {
		color: $grey;
		&:hover {
			color: $light-accent;
		}
	}
}

.btn-add,
.btn-submit,
.btn-approve {
	background: $accent-color;
	&:hover,
	&:focus {
		background: $light-accent;
	}
}

.btn-login {
	background: #3b5998; // Facebook color;
	&:hover, &:focus {
		background: lighten( #3b5998, 20% );
	}
}

.italic-gray {
	font-style: italic;
	color: $grey;
}

.error-message {
	color: $red !important;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-0 {
	margin: 0;
}

.m-r-20 {
	margin-right: 20px;
}

.p-relative {
	position: relative;
}

img.circle {
	max-width: 100%;
}