.side-nav.big {
	transform: translateX(0px);
	height: calc(100% - 65px);
    top: 65px;
    width: 240px
}

.main-layout.with-sidebar {
	padding-left: 240px; 
}

@media only screen and (max-width: 992px) {
	.main-layout.with-sidebar {
		padding-left: 0; 
	}
}