$red: #f44336;
$green: #4caf50;
$green-d-2: #388e3c;
$red-d-3: #c62828;
$red-d-1: #e53935;
$red-l-2: #e57373;
$blue: #2196f3;
$blue-l-2: #64b5f6;
$blue-d-3: #1565c0;
$grey: #9e9e9e;

$title-color: #388e3c;
$accent-color: $red;
$light-accent: $red-l-2;
$card-title-color: $green;
$dark-red: $red-d-3;
$dark-blue: $blue-d-3;
$light-red: $red-l-2;
$light-blue: $blue-l-2;
$description-color: $grey;

