<template name="Users">
	{{#if isInRole 'coordinator'}}
		<h2 class="title">Lista de Usuarios</h2>
		{{#if Template.subscriptionsReady}}
			<table class="responsive-table bordered">
				<thead>
					<tr>
						<th>Perfil</th>
						<th>Nombre</th>
						<th>Email</th>
						<th>Tipo</th>
						<th>Status</th>
						<th>Borrar</th>
					</tr>
				</thead>
				<tbody>
					{{#each users}}
						{{#if hasProfile}}
							<tr>
								<td>
									<a href="/usuario/{{_id}}">IR</a>
								</td>
								<td>{{services.facebook.name}}</td>
								<td>{{services.facebook.email}}</td>
								<td>{{prettyStatus extendedProfile.type}}</td>
								<td class="p-relative">
									{{#if isActive }}
										<i class="active-status"></i>
										<button class="toggle-user btn-flat disabled btn-reject">Desactivar</button>
									{{else}}
										<button class="toggle-user btn btn-approve waves-effect waves-light">Activar</button>
									{{/if}}
								</td>
								<td><i class="material-icons delete">delete</i></td>
							</tr>
						{{/if}}
					{{/each}}
				</tbody>
			</table>
		{{/if}}
	{{else}}
        <h1>Prohibido</h1>
    {{/if}}
</template>