<template name="Group">
    <div class="col s12 m6">
    	<div class="card">
    		<div class="card-content">
    			<span class="card-title green-text">
    				{{name}}
					<i class="material-icons right delete red-text text-lighten-2">delete_forever</i>
					{{#if editMode}}
						<i class="material-icons right close red-text text-lighten-2">close</i>
					{{else}}
						<i class="material-icons right edit blue-text text-lighten-2">edit</i>
					{{/if}}
    			</span>
				
				
				{{#if editMode}}
					<div class="edit-quickform">
						{{> quickForm collection="Groups" id=updateGroupId type="update" doc=this omitFields="instructors,students" }}
					</div>
				{{else}}
					<div class="list-item">
						<p class="value">{{periodName period}}</p>
						<p class="description grey-text">Periodo</p>
					</div>
					<div class="list-item">
						<p class="value">{{registered}}</p>
						<p class="description grey-text">Cupo</p>
					</div>
					<div class="list-item">
						<p class="value">{{limit}}</p>
						<p class="description grey-text">Cupo</p>
					</div>
				{{/if}}
    		</div>
    		<div class="card-action">
    			<a href="/grupo/{{_id}}">Ver Grupo</a>
    		</div>
    	</div>
	</div>
</template>