<template name="Groups">
    {{#if isInRole 'coordinator'}}
        <h2 class="title">Groupos</h2>
        {{#if $.Session.get 'newGroup'}}
            {{> NewGroup}}
        {{else}}
            <button class="btn-add btn waves-light waves-effect">Agregar Grupo</button>
        {{/if}}
        <div class="row m-t-15">
            {{#if Template.subscriptionsReady}}
                {{#each groups}}
                    {{> Group}}
                {{else}}
                    <div class="col s12">
                        <p class="center">Aun no hay grupos :(</p>
                    </div>
                {{/each}}
            {{else}}
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            {{/if}}
        </div>
    {{else}}
        <h1 class="title">Prohibido</h1>
    {{/if}}
</template>