<template name="CoordinatorLinks">
	<li><a href="/grupos">Grupos Actuales</a></li>
	<li><a href="#">Foros Actuales</a></li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Base de Datos</a></li>
	<li><a class="waves-effect" href="/usuarios">Usuarios</a></li>
	<li><a class="waves-effect" href="/editarGrupos">Grupos</a></li>
	<li><a class="waves-effect" href="/foros">Foros</a></li>
	<li><a class="waves-effect" href="/periodos">Periodos</a></li>
	<li><a class="waves-effect" href="/escuelas">Escuelas</a></li>
</template>