<template name="Header">
	<div class="navbar-fixed">
		<nav class="green">
			<div class="nav-wrapper">
				<div class="row">
					<div class="col s12">
						<a href="/" class="brand-logo">JaqueMat</a>
						{{#if isInRole allRoles}}
							<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
						{{/if}}
					</div>
				</div>
				
				<ul id="slide-out" class="side-nav">
					{{#if isInRole allRoles}}
						<li>
							{{>UserView}}
						</li>
						{{>PersonalData}}
						{{#if isInRole 'coordinator'}}
							{{> CoordinatorLinks}}
						{{/if}}
					{{/if}}
				</ul>
			</div>
		</nav>
	</div>
</template>