<template name="NotRegistered">
	<h2 class="title">Completa tu información!</h2>
	<form class="form-horizontal {{currentType}}" id="registerForm">
		<div class="row">
			<p class="col s12 error-message"></p>
			<div class="input-field col s12">
				<input type="text" name="name" id="name" value="{{selfUser.services.facebook.name}}">
				<label for="name" data-error="Tu nombre es requerido" class="active">Nombre</label>
			</div>
			<div class="input-field col s12">
	          	<input id="email" type="email" name="email" value="{{selfUser.services.facebook.email}}">
	          	<label for="email" data-error="Tu email es requerido" class="active">Email</label>
	        </div>
			<div class="input-field col s12 m-b-30">
				<p class="m-0">¿De qué forma estás involucrado con JaqueMat?</p>
				<div class="radio">
					<div class="radio-container">
						<input type="radio" name="type" id="studentRadio" value="student" checked>
      					<label for="studentRadio">Beneficiario</label>
					</div>
					<div class="radio-container">
						<input type="radio" name="type" id="instructorRadio" value="instructor">
      					<label for="instructorRadio">Instructor</label>
					</div>
					<div class="radio-container">
						<input type="radio" name="type" id="coordinatorRadio" value="coordinator">
      					<label for="coordinatorRadio">Coordinador</label>
					</div>
					<div class="radio-container">
						<input type="radio" name="type" id="principalRadio" value="principal">
      					<label for="principalRadio">Director de Escuela</label>
					</div>
				</div>
			</div>
			{{#if typeMatch 'student'}}
				{{> StudentForm}}
			{{/if}}
			{{#if typeMatch 'instructor'}}
				{{> InstructorForm}}
			{{/if}}
			{{#if typeMatch 'coordinator'}}
				{{> CoordinatorForm}}
			{{/if}}
			{{#if typeMatch 'principal'}}
				{{> PrincipalForm}}
			{{/if}}
			<div class="input-field col s12">
				<button type="submit" class="btn waves-light waves-effect btn-submit" id="submitRegister">Enviar Información</button>
			</div>
		</div>
	</form>
</template>