<template name="StudentForm">
	<div class="form-group">
		<label for="age" class="col-sm-2 control-label">Edad</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" name="age" placeholder="Edad">
		</div>
	</div>
	<div class="form-group">
		<label for="age" class="col-sm-2 control-label">Escuela</label>
		<div class="col-sm-10">
			{{> universeSelectize name="school" options=options create=false remove=true }}
		</div>
	</div>
	<div class="form-group">
		<label for="curp" class="col-sm-2 control-label">CURP</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="curp" placeholder="CURP">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">¿En qué año vas?</label>
		<div class="col-sm-10">
			<div class="radio">
				<label>
					<input type="radio" name="school-year" checked value="first"> 1ro
				</label>
				<label>
					<input type="radio" name="school-year" value="second"> 2do
				</label>
				<label>
					<input type="radio" name="school-year" value="third"> 3ro
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">¿A qué espacio te gustaría entrar?</label>
		<div class="col-sm-10">
			<div class="radio">
				<label>
					<input type="radio" name="program" checked value="olympiad"> Olimpiada
				</label>
				<label>
					<input type="radio" name="program" value="regularization"> Regularización
				</label>
			</div>
		</div>
	</div>
</template>