<template name="GroupList">
	<h4 class="title">Instructores</h4>
	<ul>
		{{#each instructors}}
			<p><b>{{this.extendedProfile.name}}</b> - Asistencias: {{countAttendanceInstructors}}</p>
		{{/each}}
	</ul>
	<h4 class="title">Beneficiarios</h4>
	<table class="responsive-table bordered">
		<caption><b>A</b> = Asistencias</caption>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>A</th>
				{{#each tests}}
					<th>{{short_name}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each students}}
				<tr>
					<td>{{this.extendedProfile.name}}</td>
					<td>{{countAttendanceStudents}}</td>
					{{#each tests}}
						<td></td>
					{{/each}}
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>