<template name="SingleGroup">
	<h2 class="title">{{group.name}}</h2>

	{{#if isInRole instructorRole }}
		{{#if $.Session.get 'editGroup'}}
	        {{> EditGroup}}
	    {{else}}
	    	{{#if $.Session.get 'takeAttendance'}}
		    	{{> TakeAttendance}}
		    {{else}}
		    	{{#if $.Session.get 'newTest'}}
		    		{{> NewTest}}
				{{else}}
			        <button class="btn waves-light waves-effect red attendance">Pasar Lista</button>
					<button class="btn waves-light waves-effect blue new-test">Agregar Examen</button>
					<button class="btn waves-light waves-effect orange edit">Inscribir</button>
					{{#if Template.subscriptionsReady}}
						{{> GroupList}}
						<div class="row m-t-15">
							<div class="col s12 m12 l6">
								{{> AttendanceList}}
							</div>
							<div class="col s12 m12 l6">
								{{> TestsList}}
							</div>
							<div class="col s12 m12 l6">
								{{> ForumList}}
							</div>
						</div>
					{{else}}
						<div class="progress">
		                    <div class="indeterminate"></div>
		                </div>
					{{/if}}
				{{/if}}
		    {{/if}}
	    {{/if}}
	{{/if}}

	{{#if isInRole 'principal' }}
		{{#if belongsToPrincipal}}
	        {{> GroupList}}
	    {{/if}}
	{{/if}}
</template>