<template name="PersonalInfo">
	{{#if Template.subscriptionsReady}}
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					{{prettyStatus editUser.extendedProfile.type}}
					{{#if authorizedToEditProfile}}
						<a href="/usuario/editar/{{editUser._id}}"><i class="material-icons right edit">edit</i></a>
					{{/if}}
				</span>
				
				<div class="row">
					{{#each properties }}
						<div class="col s12 m6">
							<div class="list-item">
								<p class="value">{{propertyValue this}}</p>
								<p class="description">{{prettyProperty this}}</p>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	{{else}}
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    {{/if}}
</template>