<template name="Profile">
	{{#if Template.subscriptionsReady}}
		<h2 class="title">Perfil de {{editUser.extendedProfile.name}}</h2>
		<div class="row">
			<div class="col s12">
				{{> PersonalInfo}}
			</div>
			<div class="col s12">
				{{#if currentUserInRole 'instructor'}}
					{{> InfoPeriodUser}}
				{{/if}}
				{{#if currentUserInRole 'student'}}
					{{> InfoPeriodUser}}
					{{> GradesList}}
					<div class="row">
						{{#if isInRole 'coordinator'}}
							<div class="col s12 m6">
								{{> CurrentGroupsUser }}
							</div>
						{{/if}}
						<div class="col s12 m6">
							{{> CurrentForumsUser }}
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	{{else}}
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    {{/if}}
</template>