<template name="Schools">
    {{#if isInRole 'coordinator'}}
        <h2 class="title">Escuelas</h2>
        {{#if $.Session.get 'newSchool'}}
            {{> NewSchool}}
        {{else}}
            <button class="new-school btn-add btn waves-light waves-effect">Agregar Escuela</button>
        {{/if}}
        <div class="row m-t-15">
            {{#if Template.subscriptionsReady}}
                {{#each schools}}
                    {{> School}}
                {{else}}
                    <div class="col s12">
                        <p class="center">Aun no hay escuelas :(</p>
                    </div>
                {{/each}}
            {{else}}
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            {{/if}}
        </div>
    {{else}}
        <h1 class="title">Prohibido</h1>
    {{/if}}
</template>