<template name="GetMessages">
	<h3 class="title">Mensajes</h3>
	<ul class="collection">
		{{#each messages}}
			<li class="collection-item avatar">
				<img src="{{senderImage sender}}" class="circle">
				<span class="title">{{sender_name}} - {{senderStatus sender}}</span>
				<p>{{body}}</p>
				<p class="italic-gray">{{humanDate created_at}}</p>
				{{#if isInRole 'coordinator'}}
					<a href="#!" class="secondary-content"><i class="material-icons disabled">delete</i></a>
				{{/if}}
				
			</li>
		{{else}}
			<p>Aún no hay mensajes.</p>
		{{/each}}
	</ul>
</template>